* {
  list-style: none;
  text-decoration: none;
}

html, body {
  margin: 0 auto;
  padding: 0;
}

a {
  color: white;
}

body #header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 9999;
  box-sizing: border-box;
}

body #header .nav-wrap {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
}

body #header .nav-wrap .logo {
  position: absolute;
  float: left;
  top: 0;
  left: 0;
}

body #header .nav-wrap .logo img {
  width: 50%;
}

body #header .nav-wrap #top-nav {
  width: 50%;
  position: absolute;
  left: 20%;
}

body #header .nav-wrap #top-nav .mainmenu {
  display: flex;
  position: absolute;
  justify-content: space-between;
  text-align: center;
  margin: 0;
}

body #header .nav-wrap #top-nav .mainmenu li {
  position: relative;
  float: left;
  padding-right: 60px;
}

body #header .nav-wrap #top-nav .mainmenu li:hover .submenu {
  visibility: visible;
  display: block;
}

body #header .nav-wrap #top-nav .mainmenu li .submenu {
  visibility: hidden;
  position: absolute;
  background: white;
  margin-top: 20px;
  padding: 10px;
}

body #header .nav-wrap #top-nav .mainmenu li .submenu li {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 110px;
}

body #header .nav-wrap #top-nav .mainmenu li .submenu li a {
  color: #828282;
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}

body #header .nav-wrap .hamber {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 23px;
}

body #header .nav-wrap .hamber span:after {
  right: 0;
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: white;
}

body #header .nav-wrap .hamber span:nth-of-type(2):after {
  width: 30px;
  top: 9px;
}

body #header .nav-wrap .hamber span:nth-child(3):after {
  top: 18px;
}

body .container {
  width: 1140px;
  margin: 0 auto;
  padding: 100px 0;
}

body footer {
  background: #2b2b2b;
  color: white;
}

body footer .footer-inner {
  padding: 60px 130px;
  width: 100%;
  box-sizing: border-box;
}

body footer .footer-inner .f-con {
  display: flex;
}

body footer .footer-inner .f-con .f-left {
  flex: 50%;
  left: 0;
}

body footer .footer-inner .f-con .f-left h1 {
  margin: 0;
}

body footer .footer-inner .f-con .f-left p {
  height: 10px;
  line-height: 10px;
  font-size: 14px;
  color: #cccccc;
}

body footer .footer-inner .f-con .f-left p span {
  display: inline-block;
  width: 120px;
  font-size: 12px;
  color: #b5b5b5;
}

body footer .footer-inner .f-con .f-left button {
  display: block;
  border: 1px solid #b0b0b0;
  color: white;
  margin: 30px 0;
}

body footer .footer-inner .f-con .f-right {
  flex: 50%;
  right: 0;
}

body footer .footer-inner .f-con .f-right ul {
  position: absolute;
  padding: 0;
  margin: 0 auto;
}

body footer .footer-inner .f-con .f-right ul li {
  float: left;
  margin-right: 100px;
  font-weight: bold;
}

body footer .footer-inner .f-con .f-right ul li ul {
  position: relative;
}

body footer .footer-inner .f-con .f-right ul li ul li {
  font-weight: 200;
  color: #b0b0b0;
  margin: 0 auto;
  float: none;
}

body footer .footer-inner .f-con .f-right ul li ul li a {
  line-height: 35px;
  height: 35px;
}

body footer .footer-inner .f-con .f-right ul li:last-child {
  margin-right: 0;
}

body footer .footer-inner hr {
  background: #cccccc;
  opacity: .5;
  height: 0.5px;
  margin: 0 0 30px 0;
}

body footer .footer-inner .f-bottom {
  display: flex;
}

body footer .footer-inner .f-bottom .logo {
  width: 10%;
}

body footer .footer-inner .f-bottom .logo img {
  width: 100%;
}

body footer .footer-inner .f-bottom p {
  margin: 0 auto;
}

body footer .footer-inner .f-bottom svg {
  padding-right: 20px;
}
