.swiper .v-txt {
  position: absolute;
  display: block;
  bottom: 150px;
  right: 200px;
  color: white;
  font-weight: bold;
}

.swiper .v-txt span {
  margin-top: 70px;
  opacity: .5;
}

.ani-con {
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
}

.ani-con .team-txt {
  color: white;
}

.ani-con .team-img-con {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.ani-con .team-img-con .team-img-box {
  margin-right: 200px;
  height: 140px;
  align-items: center;
  display: flex;
}

.ani-con .team-img-con .team-img-box img {
  width: 100%;
}

.ani-con .of-cover {
  position: absolute;
}

.portfolio-con {
  width: 30%;
  margin-right: 40px;
}

.portfolio-con:last-child {
  margin-right: 0;
}

.portfolio-con img {
  width: 100%;
}

.portfolio-con:nth-of-type(2) {
  transform: translateY(70px);
}

.portfolio-con .date {
  color: #a8a8a8;
}

.portfolio-con .date:before {
  content: '';
  position: relative;
  display: inline-block;
  width: 30px;
  height: 1px;
  background: #a8a8a8;
  top: -5px;
  margin-right: 10px;
}

.lastsection {
  padding-bottom: 60px;
}

.videosection {
  position: relative;
  display: flex;
}

.video-con {
  z-index: -10;
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}
