.cursor_item{
    width: 45px;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -25px;
    margin-left: -25px;
    user-select: none;
    pointer-events: none;
    z-index: 999;
}

video {
  z-index: -1000;
  width:100%;
  height: 100vh;
  flex-shrink: 0;
}

.swiper-button-prev:after, .swiper-button-next:after {

}

button {
  border: 1px solid black;
  background: rgba(255,255,255,0);
  padding: 20px 40px;
  transition: .2;
  &:before {
    content: 'VIEW OUR STORY';
    position: absolute;
    transform: translateY(100%);
    transition: .5s;
    // display: block;
  }
  &:hover {
    border: 1px solid #5ab862;
    color: #5ab862;
  }
  span {
    transition: all 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  &:hover span {
    transform: translateY(-20px);
    // opacity: 0;
    // visibility: hidden;
  }
  &:hover:before {
    opacity: 1;
    visibility: visible;
  }
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  .col {
    position: relative;
    padding: 0 10px;
    margin-bottom: 10px;
    p {
      line-height: 30px;
    }
    .right {
      float: right;
    }
    img {
      width: 100%;
      height: 350px;
    }
  }
  .item {
    position: relative;
    float: left;
    display: block;
    margin: 5px;
    overflow: hidden;
    &:hover img {
      transform: scale(1.1);
    }
    &:hover h2:after {
      content: '';
      position: absolute;
      height: 2px;
      width: 16px;
      right: -100px;
      background: white;
    }
    &:hover h2:before {
      content: '';
      position: absolute;
      height: 16px;
      width: 2px;
      right: -100px;
      background: white;
    }
    img {
      transition: .3s;
      transform: scale(1);
    }
    h2 {
      position: absolute;
      color: white;
      bottom: 10px;
      left: 10px;
      z-index: 2;
    }
  }
  .col-bottom {
    width: 50%;
    margin: 0 auto;
    color: white;
    align-items: center;
    &:nth-of-type(1) {
      background-image: url('../img/banner01.png')
    }
    &:nth-of-type(2) {
      background-image: url('../img/banner02.png')
    }
    .bottom-txt {
      padding: 60px;
    }
  }
}

.fixed {
  position: sticky;
  top:0;
  z-index: 10;
  background: white;
  color: white;
  padding-top : 80px;
  padding-left: 80px;
  padding-right: 80px;
}
.swiper-slide {
  margin: 0;
}
