.swiper {
  .v-txt {
    position: absolute;
    display: block;
    bottom: 150px;
    right: 200px;
    color: white;
    font-weight: bold;
    span {
      margin-top: 70px;
      opacity: .5;
    }
  }
}


.ani-con {
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  .team-txt {
    color: white;
  }
  .team-img-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .team-img-box{
      padding-right: 200px;
      height: 140px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      width: 150px;
      img {
        width: 100%;
        display: block;
        padding: 30px 0;
      }
      .hide-txt {
        color: white;
        transition: .2 ease;
        transform: translateY(0px);
        opacity: 0;
      }
      &:hover .hide-txt {
        display: block;
        transform: translateY(-20px);
        opacity: 1;
      }
    }
  }
  .of-cover {
    position: absolute;
  }
}

.portfolio-con {
  width: 30%;
  margin-right: 40px;
  &:last-child {
    margin-right: 0;
  }
  img {
    width: 100%;
  }
  &:nth-of-type(2){
    transform: translateY(70px);
  }
  .date {
    color: #a8a8a8;
    &:before {
      content: '';
      position: relative;
      display: inline-block;
      width: 30px;
      height: 1px;
      background: #a8a8a8;
      top: -5px;
      margin-right: 10px;
    }
  }
}
.lastsection {
  padding-bottom: 60px;
}
.videosection {
  position: relative;
  display: flex;
}
.video-con {
  // z-index: -10;
  // width:100%;
  // height: 100vh;
  // flex-shrink: 0;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
