.swiper {
  .v-txt {
    position: absolute;
    display: block;
    bottom: 150px;
    right: 200px;
    color: white;
    font-weight: bold;
    span {
      margin-top: 70px;
      opacity: .5;
    }
  }
}


.ani-con {
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  .team-txt {
    position: absolute;
    color: white;
  }
  .team-img-con {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    img {
      padding: 30px;
    }
  }
  .of-cover {
    position: absolute;
  }
}
